<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.animalTracker" version="1.1.0">
    <name>AniMap</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
    <plugin name="cordova-plugin-sms" source="npm" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <icon src="icon.png" />
    <icon platform="android" qualifier="ldpi" src="icon.png" />
    <icon platform="android" qualifier="mdpi" src="icon.png" />
    <icon platform="android" qualifier="hdpi" src="icon.png" />
    <icon platform="android" qualifier="xhdpi" src="icon.png" />
    <icon platform="android" qualifier="xxhdpi" src="icon.png" />
    <icon platform="android" qualifier="fr-xxhdpi" src="icon.png" />
    <engine name="android" spec="~6.1.2" />
    <engine name="ios" spec="~4.3.1" />
</widget>
